body{
    text-align: center;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cadetblue;
    color: black;
}

.title-text{
    font-size: 3rem;
    padding: 1% 10%;
    margin-bottom: 5rem;
    text-shadow: 3px 3px gray;
}

.back {
    float:right;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-right: 3px;
    display: block;
    border: 1px solid black;
    background-color: rgb(5, 30, 31);
}

.elements{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}

.element{
    border-radius: 15px;
    min-width: 15em;
    height: 13em;
    position: relative;
    text-shadow: 2px 2px red;
    box-shadow: 7px 7px 2px grey;
}

.element{
    transition: all 0.3s ease;
}


.main .elements .e-1{
background-color: black;
/* background-image: url(../img/celsius.png); */
}

.main .elements .e-2{
    background-color: black;
}

.main .elements .e-3{
    background-color: black;
}

.element h2 , .element input{
    position: relative;
}

.element h2{
     text-align: left;
     left: 10px;
     color: rgb(20, 19, 19);
     color: white;
}

.element input::-webkit-outer-spin-button,
.element input::-webkit-inner-spin-button{
    -webkit-appearance: none;
     margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

.element input{
    text-align: center;
    border: none;
    outline: none;
    background: none;
    margin-top: 0.3em;
    width: 4em;
    height: 2em;
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

@media screen and  (max-width:550px){
    .element{
        min-width: 1em;
        height: 7em;
    }
    .element input{
        width: 4em;
        height: 1em;
        font-size: 1.8rem;
        padding: 0;
    }
    .element h2{
        font-size: medium;
   }
   .title-text{
    font-size: 2rem;
   }
    
}

/* Home Page */

.home-body {
    text-align: center;
    color: rgb(147, 164, 127);
}

.home-body h1 {
    font-size: 120px;
    text-shadow: 4px 4px grey;
}

.home-body h1:hover {
    letter-spacing: 20px;
}

.temp-link {
    font-size: 37px;
    text-decoration: none;
}

.rupee-link {
    font-size: 37px;
    text-decoration: none;
}

.temp-link:hover {
    color: darkred;
    text-shadow: 2px 2px black;
}

.rupee-link:hover {
    color: darkred;
    text-shadow: 2px 2px black;
}

.footer-section {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgb(24, 58, 59);
    margin-top: 250px;
    margin-bottom: 0;
    position: fixed;
}

.footer-temp {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    width: 100%;
    height: 100px;
    color: white;
    background-color: rgb(24, 58, 59);
    margin-top: 210px;
    margin-bottom: 0;
    position: fixed;
}

.footer-rupee {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(24, 58, 59);
    margin-top: 213px;
    margin-bottom: 0;
}

